.players-List {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.player-card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: box-shadow 0.3s ease-in-out;
}

.player-card:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.player-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ddd; /* Couleur de fond de secours */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player-info {
  margin-top: 10px;
}

.player-info h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.player-info p {
  font-size: 1rem;
  color: #555;
}

